LIST
> They are mutable or changable

In [ ]:
x = [1,2,3,4,5]
x

[1, 2, 3, 4, 5]

In [ ]:
y = ["Aa","Bb","Cc"]
y

['Aa', 'Bb', 'Cc']

In [ ]:
z = x + y
x

[1, 2, 3, 4, 5]

In [ ]:
c = ["mohit","ayush","harshal","sunni","rajat"]
c

['mohit', 'ayush', 'harshal', 'sunni', 'rajat']

In [ ]:

a = "Moghre"
b = 18                                                 #it shows the mutablity or changablity of list
c = ["ayush","harshal",a,b,"mohit","sunni","rajat"]
c

['ayush', 'harshal', 'Moghre', 18, 'mohit', 'sunni', 'rajat']

In [ ]:
rajju_gang =["chotu","dholu","bholu"]
samay_gang =["sunni","aslam","salman"]
stupal_gang =[rajju_gang,samay_gang]
stupal_gang                                  #addition of two lists

[['chotu', 'dholu', 'bholu'], ['sunni', 'aslam', 'salman']]

In [ ]:
samay_gang =["sunni","aslam","salman"]
samay_gang[2]         #indexing

'salman'

In [ ]:
samay_gang =["sunni","aslam","salman"]
samay_gang.pop(2)
samay_gang

['sunni', 'aslam']

In [ ]:
rajju_gang =["chotu","dholu","bholu"]
rajju_gang.append(2)
rajju_gang

['chotu', 'dholu', 'bholu', 2]

In [ ]:
rajju_gang.remove(2)
rajju_gang

['chotu', 'dholu', 'bholu']

In [ ]:
x = [1,2,2,2,2,3,4,5,2,2]
x.count(2)

6

In [ ]:
x = [1,2,2,2,2,3,4,5,2,2,1]
x.reverse()
x

[1, 2, 2, 5, 4, 3, 2, 2, 2, 2, 1]

In [ ]:
x.sort()
x

[1, 1, 2, 2, 2, 2, 2, 2, 3, 4, 5]

In [ ]:
c.sort()                 #limitation of sort function
c

TypeError: '<' not supported between instances of 'int' and 'str'

In [ ]:
samay_gang =["sunni","aslam","salman"]
"aslam" in samay_gang

True

In [ ]:
samay_gang =["sunni","aslam","salman"]
"harshal" in samay_gang

False

In [ ]:
q=[1,2,7,3,4,5,9,2,11]
new_q= q[1:]
new_q

[2, 7, 3, 4, 5, 9, 2, 11]

In [ ]:
new_q= q[-1:]
new_q

[11]

In [ ]:
c = ["mohit","ayush","harshal","sunni","rajat"]
c[1:6:2]                                       #[starting pt : ending pt : increment diff]

['ayush', 'sunni']

In [ ]:
x = range(1,7,2)
x

range(1, 7, 2)

TUPLE

it is immutable or unchangable

In [52]:
numbers = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
numbers

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [53]:
numbers[0]

1

In [54]:
numbers[-1]

10

In [104]:
numbers[:-2]

(1, 2, 3, 4, 5, 6, 7, 8)

In [105]:
numbers [1] = 1    #IT SHOWS THE IMMUTABLITY OR UNCHANGABLITY OF TE STRING
numbers

TypeError: 'tuple' object does not support item assignment

In [57]:
num= (2, 2, 3, 4, 2, 6, 2, 8, 9, 10)
num.count(2)

4

In [58]:
numbers = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
numbers.index(6)

5

DICTIONARY

In [62]:
dictionary = { "name": "mohit", "age": 19, "salary": 0.0 }
dictionary

{'name': 'mohit', 'age': 19, 'salary': 0.0}

In [63]:
a = {}
a["name"] = "chotu"
a["position"] = "right_hand_vice_commander"
a["gender"] = "Male"
a["salry"] = 0.50
a

{'name': 'chotu',
 'position': 'right_hand_vice_commander',
 'gender': 'Male',
 'salry': 0.5}

In [66]:
d= dict(name = "chotu", position = "right_hand_vice_commander", gender= "Male", salary = 0.50)
d

{'name': 'chotu',
 'position': 'right_hand_vice_commander',
 'gender': 'Male',
 'salary': 0.5}

In [67]:
d["name"]

'chotu'

In [68]:
d["age"]

KeyError: 'age'

In [72]:
#lets try handling the error
d= dict(name = "chotu", position = "right_hand_vice_commander", gender= "Male", salary = 0.50)
try:
  age =a["age"]
except KeyError:                            #here we are raising the key error
  age = None
age

In [89]:
#.get function
d= dict(name = "chotu", position = "right_hand_vice_commander", gender= "Male", salary = 0.50)
d.get('salary')

0.5

In [90]:
# use of pop
d.pop('gender')
d

{'name': 'chotu', 'position': 'right_hand_vice_commander', 'salary': 0.5}

In [93]:
# It removes the last key value pair
d= dict(name = "chotu", position = "right_hand_vice_commander", gender= "Male", salary = 0.50)
d.popitem()
d

{'name': 'chotu', 'position': 'right_hand_vice_commander', 'gender': 'Male'}

In [95]:
d= dict(name = "chotu", position = "right_hand_vice_commander", gender= "Male", salary = 0.50)
del d['name']
d

{'position': 'right_hand_vice_commander', 'gender': 'Male', 'salary': 0.5}

In [96]:
d['age']=20
d

{'position': 'right_hand_vice_commander',
 'gender': 'Male',
 'salary': 0.5,
 'age': 20}

In [99]:
b = d.copy()
b

{'position': 'right_hand_vice_commander',
 'gender': 'Male',
 'salary': 0.5,
 'age': 20}

In [101]:
d.clear()
d

{}

In [100]:
#multiple keys with same values
x= ('k1','k2','k3')
y= 5
z=dict.fromkeys(x,y)
z

{'k1': 5, 'k2': 5, 'k3': 5}

In [102]:
d= dict(name = "chotu", position = "right_hand_vice_commander", gender= "Male", salary = 0.50)
d.keys()

dict_keys(['name', 'position', 'gender', 'salary'])

In [103]:
d.values()

dict_values(['chotu', 'right_hand_vice_commander', 'Male', 0.5])