In [1]:
list=[]
element0=["mohit",34,19]
list.append(element0)
element1=["harshal",27,29]
list.append(element1)
element2=["ayush",22,18]
list.append(element2)
element3=["bhabes",23,20]
list.append(element3)
list

[['mohit', 34, 19], ['harshal', 27, 29], ['ayush', 22, 18], ['bhabes', 23, 20]]

In [3]:
list[2][1]     #accessing the specific element inside list of lists

22

In [9]:
people = []                       # Made a list
person = ["Tony", "Stark",48]
people.append(person)             #appending (adding) the lists
person = ["Steve","Rodgers",102]
people.append(person)
person = ["Stephen", "Strange",42]
people.append(person)
person = ["Natasha","Romanof",36]
people.append(person)
person = ["Peter","Parker",16]
people.append(person)
people

[['Tony', 'Stark', 48],
 ['Steve', 'Rodgers', 102],
 ['Stephen', 'Strange', 42],
 ['Natasha', 'Romanof', 36],
 ['Peter', 'Parker', 16]]

In [10]:
ages=[]
total_age = 0.0
for p in people:
    age = p[2]
    total_age += age
#    ages.append(age)
total_age
#  ages

244.0

Sets

In [13]:
squared_ages = []
for p in people:
    squared_age = p[2] * p[2]
    squared_ages.append(squared_age)
squared_ages

[2304, 10404, 1764, 1296, 256]

In [14]:

# we can write this in one line
squared_ages = [p[2] * p[2] for p in people]
squared_ages

[2304, 10404, 1764, 1296, 256]

In [16]:
person = {"first_name":"Steve", "last_name":"Rodgers", "age":102}
person_list = []
for p in person:
    person_list.append(p)
person_list

['first_name', 'last_name', 'age']

In [15]:
person = {"first_name":"Steve", "last_name":"Rodgers", "age":102}
person_list = []
for p in person:
    value = person[p]
    person_list.append(value)
person_list

['Steve', 'Rodgers', 102]

In [18]:
name ="Rob Mastrodomenico"
name_list = []
for n in name:
    name_list.append(n)
print(name_list)

['R', 'o', 'b', ' ', 'M', 'a', 's', 't', 'r', 'o', 'd', 'o', 'm', 'e', 'n', 'i', 'c', 'o']